body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cell {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.cell-color {
  background-color: rgb(85, 171, 237);
}

.active {
  background-color: rgb(216, 216, 90);
}

.on-Off {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.track-title {
  display: inline-block !important;
  font-size: 14px;
}
