body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cell {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.cell-color {
  background-color: red;
}

.active {
  background-color: rgb(23, 21, 21);
}
